

body {
  background-image: url(../images/tokyo.jpg);
  background-size: cover;
}

a {
  color: inherit;
}

.container-fluid {
  margin-bottom: 3em;
}

.list-inline li {
  float: left;
}

.row-equal-height [class*="col-"] {
  float: none;
  display: table-cell;
  vertical-align: middle;
}

.img-inline {
  max-height: 3em;
}

.text-white {
  color: white;
}

.text-big {
  font-size: 1.5em;
}

.wrapper-panel {
  border-radius: 5px;
  background-color: white;
  color: black;
  padding: 0.5em 2em;
  box-shadow: 0px 0px 30px black;
}

.panel-head {
  border-bottom: 2px solid red;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.trip-name {
  border-radius: 25px;
  background-color: rgba(255, 0, 0, 0.5);
  font-size: 2em;
  font-weight: bold;
  color: white;
  padding: 0.5em 2em;
  margin: 0.5em 0;
  box-shadow: 0px 0px 30px red;
  text-align: center;
}

.hide {
  display: none;
}

.margin-center {
  margin-left: auto;
  margin-right: auto;
}

.margin-bottom {
  margin-bottom: 1em;
}

#item-form {
  padding: 1em 2em;
}

.item-wrapper {
  padding: 1em;
  background-color: #FFFD92;
  border-radius: 10px;
  box-shadow: 5px 5px 10px grey;
  cursor: pointer;
  text-align: center;
  margin-right: 0.9em;
  margin-left: 0.9em;
  height: 170px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.sort-wrapper {
  width: 30% !important;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.break-word {
  word-wrap: break-word;
}

.item-wrapper img {
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.7em;
}

.date-place-panel {
  padding: 2em 2em;
  min-height: 5em;
  border-radius: 5px;
  box-shadow: 5px 5px 10px grey;
  background-image: url(../images/wood.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.date-place-container {
  min-height: 5em;
}

.over-y-hide {
  overflow-y: scroll;
  overflow-x: hidden;
}

a.active, a:focus, a:hover {
  color: #FFFD92;
  text-decoration: none;
  text-shadow: 0px 0px 20px #FFFD92;
}

@media screen and (max-width: 639px) {

}

@media screen and (min-width: 640px) and (max-width: 1024px) {

}
