

body {
  background-image: url(../images/tokyo.jpg);
  background-size: cover;
}

a {
  color: inherit;
}

.container {
  margin-bottom: 3em;
}

.row-equal-height [class*="col-"] {
  float: none;
  display: table-cell;
  vertical-align: middle;
}

.img-inline {
  max-height: 3em;
}

.text-white {
  color: white;
}

.text-big {
  font-size: 1.5em;
}

.wrapper-panel {
  border-radius: 5px;
  background-color: white;
  color: black;
  padding: 0.5em 2em;
  box-shadow: 0px 0px 30px black;
}

.panel-head {
  border-bottom: 2px solid red;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.trip-name {
  border-radius: 25px;
  background-color: rgba(255, 0, 0, 0.5);
  font-size: 2em;
  font-weight: bold;
  color: white;
  padding: 0.5em 2em;
  margin: 0.5em 0;
  box-shadow: 0px 0px 30px red;
  text-align: center;
}

.hide {
  display: none;
}

.margin-center {
  margin-left: auto;
  margin-right: auto;
}

.margin-bottom {
  margin-bottom: 1em;
}

#place-form {
  padding: 1em 2em;
}

.place-wrapper {
  padding: 1em;
  background-color: #FFFD92;
  border-radius: 10px;
  box-shadow: 5px 5px 10px grey;
  margin-bottom: 1.5em;
  cursor: pointer;
  display: inline-block;
  text-align: center;
}

.masonry {
  -moz-column-count:2;
  -moz-column-gap: 2em;
  -webkit-column-count:2;
  -webkit-column-gap: 2em;
  column-count: 2;
  column-gap: 2em;
}

.date-panel {
  min-height: 5em;
  line-height: 5em;
}

.date-place-panel {
  min-height: 5em;
  border-radius: 5px;
  box-shadow: 5px 5px 10px grey;
  background-image: url(../images/wood.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
