



<div class="wrapper-panel">
  <div class="row panel-head">
    <div class="col-md-6">
      <span class="text-big">{{title | uppercase}}</span>
    </div>
  </div>
  <div class="row date-panel margin-bottom" ng-repeat="day in days">
    <div class="col-md-2 date-panel">{{day.day | date: 'dd-MM-yyyy'}}</div>
    <div class="col-md-10 date-place-panel">
      <div ng-if="readOnly" class="row date-place-container">
        <div class="col-md-4 item-wrapper sort-wrapper" id="item-{{item.id}}" ng-repeat="item in day.items">
          <div class="margin-bottom"><img ng-src="{{item.imageUrl}}" class="img-responsive img-rounded"></div>
          <div>{{item.name}}</div>
        </div>
      </div>
      <div ng-if="!readOnly" sortable item-order-update-url="{{itemOrderUpdateUrl}}" parent-id="{{day.id}}"
           class="row date-place-container">
        <div class="col-md-4 item-wrapper sort-wrapper margin-bottom" id="item-{{item.id}}" ng-repeat="item in day.items">
          <div class="margin-bottom"><img ng-src="{{item.imageUrl}}" class="img-responsive img-rounded"></div>
          <div class="break-word">{{item.name}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
