



<div class="row" ng-controller="japanController">
  <div class="row" ng-repeat="row in towns">
    <div ng-class="'col-md-' + (12 / row.length)" ng-repeat="town in row">
      <div class="wrapper-panel">
        <div class="text-big text-center">{{town.name}}</div>
        <div class="row" ng-repeat="day in town.days">
          <div class="col-md-3">{{day.day | date:'dd-MM-yyyy'}}</div>
          <div class="col-md-9">
            <ul class="list-inline">
              <li ng-repeat="place in town.places">
                <div>
                  {{place.name}}
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
